html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  color: #131010;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.none_subtitle {
  display: none;
}

.site_log_buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 30%;
  padding-bottom: 120px;
}

.head_container {
  background: url("../img/main_photo_mob.jpg") no-repeat center;
  background-size: cover;
  max-width: 100%;
  color: white;
  text-align: center;
  width: auto;
  margin-bottom: 75px;
  padding-top: 20px;
  padding-bottom: 130px;
}

.site_log {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 40px;
  border-color: white;
  width: 90px;
  height: 36px;
  background: transparent;
}

.site_log_nobord {
  border: none;
}

.hight_subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.subtitle {
  font-family: "Roboto", sans-serif, serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.butn_subtitle {
  text-decoration: none;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 40px;
  height: 30px;
  background: rgb(255, 78, 80);
  width: 280px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.butn_subtl {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: none;
  background: transparent;
}

/*------------------------------*/

.botn_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
}

.partners {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

.partners_container {
  padding: 0;
}

.img_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.img_subtitle {
  color: rgb(102, 102, 102);
  font-family: "Roboto", sans-serif, serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.2;
  width: 70%;
  margin: 0 auto;
}

/*-------------------------------*/

.parent_cont {
  position: relative;
  height: 121px;
  width: 121px;
  margin: 0 auto;
}

.backgr_img {
  border: 4px solid rgb(252, 252, 252);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.little_img {
  padding-top: 6px;
}

.red {
  background-color: rgb(255, 78, 80);
}

.yellow {
  background-color: rgb(255, 165, 7);
}

.green {
  background-color: rgb(28, 215, 173);
}

.blue {
  background-color: rgb(78, 115, 219);
}

.footer_button {
  text-decoration: none;
  border: 2px solid rgb(255, 78, 80);
  color: rgb(255, 78, 80);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 40px;
  height: 40px;
  background: transparent;
  width: 280px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
