html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
 ul {
   margin: 0;
   padding: 0;
 }

 .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif, serif;
  color: #555252;
  font-size: 16px;
  background: white;
}

.container{
  width: 1110px;
  margin: 0 auto;
  background-color: white;
}
 
.mastheader_nav {
  padding-top: 30px;
}

.nav_list {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-align: right;
  text-transform: uppercase;
}

.nav_section__link:hover {
  color: rgb(137, 193, 245);
}

.nav_list li {
  display: inline-block;
  margin-right: 30px;
}

.nav_list li:last-child {
  margin-right: 0;
}

.nav_list li:first-child {
    margin-right: 560px;
}