html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  color: #555252;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section {
  width: 1110px;
  margin: 0 auto;
}

.header__header-nav {
  padding-top: 30px;
  float: right;
}

.nav_section__link {
  list-style: none;
  float: left;
}

.nav_list_item {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.header-nav__nav-list {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  list-style: none;
  text-transform: uppercase;
}

li:hover {
  color: rgb(137, 193, 245);
}

.nav_list li {
  display: inline-block;
  margin-right: 30px;
}

.header-nav__nav-list li:last-child {
  margin-right: 0px;
}
.header-nav__nav-list li:first-child {
  margin-right: 600px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.header__header-nav:first-letter {
  font-family: "Roboto bold", sans-serif;
  color: rgb(38, 151, 155);
  font-size: 50px;
}
