html {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif, serif;
    color: #555252;
  }

  .parent {
      width: 200px;
      height: 150px;
      background-color: black;

  }

  .child{
      width: 30px;
      height:30px;
background-color: #555252
  }