html {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif, serif;
    color: #131010;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .logo {
      margin: 0 auto;
      margin-bottom: 25px;
  }

  .navigation {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 0;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-size: 11px;
      padding-top: 10px;
  }

  .navig_bacground {
      display: block;
      background-color: rgb(51, 51, 51);
      width: 600px;
      height: 30px;
      margin-bottom: 40px;
  }

  .header_subtitle {
      width: 80%;
      margin: 0 auto;
      line-height: 1.8;
  }

  .header_subtitle_top {
      margin-bottom: 30px;
  }

  .rate {
      color: red;
      font-weight: bold;
  }

  .code {
    background-color: rgb(51, 51, 51);
    width: 100px;
    height: 30px;
    color: white;
    margin: 0;
  }

  .site_header {
      position: relative;
      margin-bottom: 80px;
  }

  .site_header::after {
    position: absolute;
    content: "";
    width: 600px;
    border-bottom: 1px solid rgb(153, 153, 153);
    bottom: -40px;
    left: 0;
    right: 0;
    color: rgb(229, 229, 229);
  }

  .unisex_title {
      font-size: 30px;
  }

  .main_content__list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
  }

  .main_content__size {
      width: 55px;
      height: 35px;
      background-color: #f8f8f8;
      font-size: 17px;
      font-weight: bold;
      padding-top: 16px
  }

  .dark {
      background-color: #f0f0f0;
  }

.addidas__nike__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

  .addidas {
    width: 293px;
    height: 330px;
    background-color: #f0f0f0;
    margin: 0 auto;
   }

  .nike {
    width: 293px;
    height: 330px;
    background-color: #f8f8f8;
    text-align: center;
  }

  .container__img {
    margin: 0 auto;
margin-bottom: 40px;
  }

  .addidas__nike__subtitle {
font-size: 15px;
  }

  .addidas__nike__size__subtitle {
    font-size: 15px;
    font-weight: bold;
    position: relative;
  }

  .addidas__nike__size__subtitle::after {
      position: absolute;
    content: "";
    width: 107px;
    border-bottom: 3px solid #db061a;
    top: 30px;
    left: 95px;
  }

  .unisex_model {
      margin-bottom: 45px;
  }

  /*------------------------------*/

  .vans-container {
      background-image: url('/email/img/vans_bacgr.png');
  margin-top: 16px;
  width: 600px;
  height: 300px;
    }

    .vans-container__logo {
        padding-left: 327px;
        padding-top: 76px;
    }

    .vans-container__subtitle {
        font-size: 17px;
        color: #818181;
        letter-spacing: 3px;
        margin-left: 270px;
        font-weight: bold;
        margin-top: 5px;
    }

    .vans-container__link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        margin-left: 270px;
        position: relative;
    }

    .vans-container__link::after {
        position: absolute;
    content: "";
    width: 107px;
    border-bottom: 3px solid #0c6cea;
    top: 30px;
    right: 0px;
    }