
html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  color: rgb(51, 51, 51);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

a.site_logo:active,
a.site_logo {
  text-decoration: none;
  color: rgb(254, 209, 54);
}

a.nav_section__link:active,
a.nav_section__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav_list_item {
  display: inline-block;
  list-style: none;
  margin-right: 40px;
}

.nav_list_item:last-child {
  margin-right: 0;
}

.site_navigation {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.site_logo {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  color: rgb(254, 209, 54);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  padding-top: 30px;
  padding-bottom: 35px;
}

.nav_section__link {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 35px;
  transition: color 200ms linear;
}

.nav_section__link:hover {
  color: rgb(254, 209, 54);
}

.masthead__header {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
/*--------------------------------*/

.main_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.875;
  text-transform: uppercase;
  margin: 0;
}

.main_subtitle {
  text-align: center;
  font-family: "KoHo", sans-serif;
  color: rgb(119, 119, 119);
  font-style: italic;
  line-height: 1.2;
  font-size: 17px;
  margin: 0;
  margin-bottom: 80px;
}

.item {
  list-style: none;
  width: 30%;
}

.item_img {
  display: flex;
  justify-content: center;
}

.icon_bsk {
  height: 40px;
  width: 39px;
  padding-top: 15px;
}

.item_img {
  height: 70px;
  width: 70px;
  border: 3px solid rgb(254, 209, 54);
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.icon_lpt {
  height: 35px;
  width: 41px;
  padding-top: 15px;
}

.icon_lock {
  height: 38px;
  width: 29px;
  padding-top: 13px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 120px;
}

.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(119, 119, 119);
  line-height: 1.5;
  margin: 0;
}

/*--------------------------------*/

.form_container {
  background: url("../img/map-image.png") no-repeat right,
    linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 1));
  padding-top: 120px;
  padding-bottom: 100px;
  background-position: right 80%;
}

.footer_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
}

.footer_subtitle {
  text-align: center;
  font-family: "KoHo", sans-serif;
  color: rgb(119, 119, 119);
  font-style: italic;
  line-height: 1.2;
  font-size: 17px;
  margin: 0;
  margin-bottom: 80px;
}

.form_tipes {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.right {
  height: 53px;
  width: 400px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(187, 187, 187);
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0 0 0 20px;
  border: none;
}

.right::last-child {
  margin-bottom: 0;
}

.comm_area {
  width: 455px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(187, 187, 187);
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  padding: 15px;
  height: 190px;
}

.column_cont {
  margin-right: 30px;
  margin-bottom: 30px;
}

.button_area {
  height: 65px;
  width: 240px;
  background-color: rgb(254, 209, 54);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
}

.outl:valid {
  outline: 2px solid rgb(0, 128, 0);
}

.outl:invalid {
  outline: 2px solid rgb(255, 0, 0);
}
