@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
        margin: 0 auto;
      }
      
      .head_container {
        background: linear-gradient(rgba(26, 25, 21, 0.1), rgba(26, 25, 21, 0.1)),
         url("/hw8/img/main_img_desc.jpg") no-repeat center;
         letter-spacing: 2px;
         width: auto;
         background-size: cover;
         padding: 50px 250px 236px 250px;
        }
     
        .none_subtitle {
          display: block;
        }

        .hight_subtitle {
          display: none;
        }

        .nav_butttons {
          padding: 0;
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;
        }

        .none_subtitle {
          display: block;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 20px;
          text-transform: uppercase;
          margin: 0;
        }







    }