html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif, serif;
  color: #626262;
  font-size: 16px;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.mastheader_nav {
  text-align: center;
}

.mastheader {
  padding-top: 80px;
  padding-bottom: 100px;
}

.nav_list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav_list:last-child {
  margin-right: 0;
}

.nav_list li {
  display: inline-block;
}

.nav_list_item {
  margin-right: 100px;
}

li a:hover {
  color: rgb(137, 193, 245);
}

.nav_section__link {
  color: #626262;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.article_container {
  font-size: 0;
}

.article_container {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 150px;
}

.container:last-child {
  margin-right: 0;
}

.container:nth-child(even) {
  margin-right: 0;
}

.post_category {
  font-family: "Ubuntu", sans-serif, serif;
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
}

.head {
  font-weight: normal;
  color: #626262;
  font-size: 30px;
}

.paragraph {
  color: #626262;
  font-size: 14px;
  line-height: 25px;
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 0 350px 70px 470px;
}

.load_button {
  height: 61px;
  width: 165px;
  color: #626262;
  font-size: 20px;
}


