html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, serif;
  color: #555252;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section {
  width: 1110px;
  margin: 0 auto;
}

.header__header-nav {
  padding-top: 30px;
  float: right;
  margin-right: 20px;
}

a.site_logo:active,
a.site_logo:hover,
a.site_logo {
  text-decoration: none;
  color: rgb(54, 58, 57);
}

.nav_section__link {
  list-style: none;
  float: left;
}

.nav_list_item {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.header-nav__nav-list {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  list-style: none;
  text-transform: uppercase;
  padding-top: 10px;
}

.logo {
  margin: 0;
  display: inline-block;
}

h1 {
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 35px;
}

.nav_list_item:hover {
  color: rgb(189, 255, 242);
}

.nav_list li {
  display: inline-block;
  margin-right: 30px;
}

h1:first-letter {
  font-family: "Roboto", sans-serif;
  color: rgb(26, 188, 156);
  font-weight: 700;
}

.masthead {
  margin-bottom: 113px;
}

.header-nav__nav-list li:last-child {
  margin-right: 0;
}
/*-----------------------------*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.subtitle_hover:hover {
  background-color: rgb(26, 188, 156);
}

.products {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.banner__title::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid rgb(26, 188, 156);
  margin-top: 33px;
  margin-bottom: 93px;
}

.articles-list li {
  width: 255px;
  margin-right: 25px;
  float: left;
  list-style: none;
}
.articles-list li:nth-child(4n) {
  margin-right: 0;
}

.subtitle_rate {
  margin-bottom: 0;
}
.subtitle_hover {
  background-color: rgb(25, 25, 25);
  margin-bottom: 25px;
}

.subtitle {
  display: block;
  margin-top: 0;
  width: 190px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  float: left;
  padding-top: 14px;
  padding-right: 0;
}

.subtitle_rate {
  display: block;
  margin-top: 0;
  width: 65px;
  background: rgba(255, 255, 255, 44%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fcfcfc;
  padding-top: 14px;
  padding-bottom: 14px;
  float: left;
  margin-left: 0;
}

h3 {
  margin-bottom: 0;
}
/*-----------------------------*/

.articles-list_news li {
  width: 347px;
  margin-right: 25px;
  float: left;
  list-style: none;
}
.articles-list_news li:nth-child(4n) {
  margin-right: 0;
}

.articles-list__services-item:last-child {
  margin-right: 0;
  border-right: 0;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

h4:after {
  content: "";
  display: block;
  width: 136px;
  border-bottom: 3px solid #02aca0;
  margin-top: 16px;
  margin-bottom: 30px;
}

.article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.article__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.8;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  background-color: rgb(78, 198, 171);
  border-radius: 3px;
  padding: 15px 40px;
}
